*{
    margin:0px;
}

.main-header {
margin:0px;
border:2px solid blue;
padding:0px;
width:100%;
overflow: hidden;
display: grid;
}

.imgg{
background: url("./images/thumbnail.jpg") center center / cover no-repeat;
min-height: 350px;
}

.main-header h1,h3 {
    margin:20px;
    text-align: center;
    font-weight:bold;
    font-size:70px;
    color:blue;
    
}


.navbar{
    display:inline-block;
    margin:0px;
    background-color:grey;
    width:100%;
    
}
.navbar input{
    margin:10px;
    padding:10px;
    float:right;
}

.navbar a{
    float:left;
    padding:10px;
    margin:10px;
}
.navbar a{
    text-decoration:none;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color:grey;
    color:white;
    padding:10px;
}
.navbar a:hover{    
    background-color:red;
    color:white;
}
.container{
width:80%;
margin:auto;
padding:10px;
}
.box-1{
    border:10px solid blue;
    text-align:justify;
    padding:10px;
    margin-top:10px;
    list-style: height 1.6em;
    font-family:sans-serif;
    font-size:20px;
    background-color:grey;
    color:white;
    margin-bottom:20px;
}
.box-1 h1{
    font-weight: bold;    
}
input{
    display:block;
    margin-bottom:10px;
}
label{
    display:block;
    margin-top:5px;
}
.login{
    background-image:url(./images/fang.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    width:100%;
}
.form{
    font-family:  sans-serif;
    font-weight:bold;
    font-size:20px;
    margin-top:100px;
    border:5px solid blue;
    border-top:40px solid lightblue;
    padding:10px;
    width:400px;
    margin:auto;
    background-color:black;
    color:whitesmoke;
    height:500px;
}
.form input{
    padding:10px;
}
.form h1{
    background-color:blue;
    margin-top:5px;
    padding:2px;
    text-align:center;
    font-family:Arial;
    font-weight:bold;
    color:whitesmoke; 
}
.form h2{
    margin-top:5px;
}
.button{
    margin:5px;
    padding:8px;
    background-color:black;
    color:whitesmoke;
}
.button:hover{
    background-color:red;
    color:whitesmoke;
}

.box-2{
    text-align:justify;
    font-family:sans-serif;
    max-height:500px;
    color:white;
    text-align:justify;
    margin-bottom:30px;
    font-size:20px;
}

.main{
    padding:10px;    
    width:100%;
    box-sizing: border-box;
    display:inline-block;
    border:5px solid blue ;
    background-color:grey;
}

.sidebar{
    padding:10px;
    width:30%;
    box-sizing: border-box;
    display:inline-block;
    border:5px solid blue;
    background-color:grey;
}

.footer{
    padding:10px;
    text-align:center;
    background-color:grey;
    color:white;
}

